* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section{
    padding: 100px;
}

.banner{
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background: url("../img/image.jpg") right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner h2{
    font-size: 1.5em;
    font-weight: 700;
    color: #fff;
    line-height: 1.5em;
}

.banner h2 span{
    font-size: 1.5em;
    font-weight: 900;
}

.banner h3{
    font-size: 1.2em;
    font-weight: 700;
    color: #fff;
    line-height: 1.5em;
}

.btn{
    position: relative;
    font-weight: 700;
    color: #fff;
    background: #2196f3;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 20px;
    text-decoration: none;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header .logo{
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
}

header.sticky{
    background: #FFF;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

header.sticky .logo{
    color: #111;
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}

header.sticky ul li a{
    color: #111;
}

.heading{
    width:100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}

.heading h2{
    font-size: 35px;
    font-weight: 900;
}

.content{
    justify-content: space-between;
    display: flex;
}

.contentBx{
    padding-right: 30px;
}

.contentBx h3{
    font-size: 22px;
    margin-bottom: 10px;
}

.w50{
    min-width: 50%;
}

.about img{
    padding-left: 30px;
    max-width: 100%;
}

.about p span{
    padding-left: 5%;
}

.work .content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.work .content .workBx{
    position: relative;
    width: 500px;
    height: 300px;
    margin: 10px;
    transition: 0.5s;
    text-align: center;
}

.work .content .workBx .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work .content .workBx .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work .content .workBx .textBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work .content .workBx .textBx{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: 0.5s;
}

.work .content .workBx:hover .textBx{
    opacity: 1;
}

.work .content .workBx .textBx h3{
    color: #FFFFFF;
    font-size: 1em;
}

.contact{
    background: #111111;
}

.contact .heading{
    color: #FFFFFF;
}

.formBx{
    min-width: 60%;
}

.formBx form{
    display: flex;
    flex-direction: column;
}

.formBx h3{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.formBx form input{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: none;
    background: #222;
    color: #fff;
    resize: none;
}

.formBx form textarea{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: none;
    background: #222;
    color: #fff;
    resize: none;
}

.formBx textarea{
    min-height: 200px;
}

.formBx form input::placeholder
.formBx form textarea::placeholder{
    color: #999;
}

.formBx form input[type="submit"]{
    max-width: 140px;
    background: #2196f3;
    cursor: pointer;
}

.contactInfo{
    min-width: 40%;
}

.contactInfo h3{
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}

.contactInfoBx{
    position: relative;
}

.contactInfoBx .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contactInfoBx .box .icon{
    min-width: 40px;
    padding-top: 4px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.contactInfoBx .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.contactInfoBx .box .text h3{
    font-weight: 700;
    font-size: 20px;
    color: #2196f3;
    margin-bottom: 0;
    padding-bottom: 5px;
}

/*Responsive*/
@media(max-width: 991px){
    header,
    header.sticky{
        padding: 20px 50px;
        z-index: 1000;
    }
    .menu{
        position: fixed;
        top: 75px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #fff;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0,0,0,0.2);
    }
    .menu.active{
        left: 0;
    }
    header ul li a{
        color: #111;
        font-size: 24px;
        margin: 10px;
    }
    .toggle{
        width: 40px;
        height: 40px;
        background: url("../img/menu.png") no-repeat center;
        background-size: 30px;
        cursor: pointer;
    }
    .toggle.active{
        background: url("../img/close.png") no-repeat center;
        background-size: 25px;
        cursor: pointer;
    }
    header.sticky .toggle{
        filter: invert(1);
    }
    section{
        padding: 100px 50px;
    }
    .banner{
        padding:150px 50px 100px;
    }
    .banner h2, h3{
        font-size: 1.1em;
    }
    .btn{
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;
    }
    .heading h2{
        font-size: 24px;
    }
    .contentBx h3{
        font-size: 20px;
    }
    .content{
        flex-direction: column;
    }
    .w50{
        margin-bottom: 20px;
    }
    .about .contentBx{
        padding-right: 0;
    }
    .about img{
        padding-left: 0;
    }
    .work .content .workBx{
        width: 100%;
        padding: 10px;
    }
    .contactInfo{
        margin: 20px 0;
    }
}

@media(max-width: 600px) {
    header,
    header.sticky {
        padding: 20px 20px;
        z-index: 1000;
    }
    section{
        padding: 100px 20px;
    }
    .banner{
        padding:150px 20px 100px;
    }
}



